.node-portfolio-teaser {
  display: flex;
  align-items: flex-start;
}

.node-portfolio-teaser__title {
  --link-color: var(--heading-color);
  font-weight: bold;
}

.node-portfolio-teaser .node-portfolio-field-date {
  flex-shrink: 0;
}

.node-portfolio-teaser__separator {
  flex-shrink: 0;
}
