{% do attributes.addClass(['photoswipe-gallery', 'lightbox']) %}
<span{{ attributes }}>
  <a href="{{ url }}"
     class="photoswipe lightbox__link"
     data-size="{{ size }}"
     aria-label="{{ 'Open bigger image'|t }}">
    {% block thumbnail %}{% endblock %}
    {% include 'laszlo:icon' with {
      attributes: create_attribute({
        class: ['lightbox__icon'],
      }),
      icon: 'magnifier-zoom',
    } only %}
  </a>
</span>