.author-page-navigation-item {
  display: flex;
  align-items: center;
  padding: var(--spacing-2);
  text-decoration: none;
  color: var(--color-on-surface-variant);
  border-radius: var(--spacing-3);
  background-color: var(--color-surface-variant);
  gap: var(--spacing-3);

  &:hover,
  &:focus {
    color: var(--color-on-primary-fixed);
    background-color: var(--color-primary-fixed);
  }
}

.author-page-navigation-item__icon {
  width: 3rem;
  padding: var(--spacing-2);
  color: var(--color-primary);
  border-radius: var(--spacing-2);
  background-color: var(--color-surface-container-low);
}

.author-page-navigation-item--active-trail {
  color: var(--color-on-primary-container);
  background-color: var(--color-primary-container);
}
