{#
/**
 * @file
 * Default theme implementation to display mobile header bar.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - logo: The site logo URL.
 */
#}
<header class="mobile-header-bar">
  <div class="mobile-header-bar__logo-and-name">
    <img src="{{ logo }}" alt="{{ 'Site logo'|t }}" class="mobile-header-bar__logo" width="32" height="32">
    <a href="{{ url('<front>') }}" class="mobile-header-bar__name">Niklan</a>
  </div>
  <div class="mobile-header-bar__menu-button js-navigation-mobile-toggle"></div>
</header>
