@layer component.ui {
  .branding {
    --logo-color-primary: var(--color-surface-tint);
    --logo-color-secondary: var(--color-surface-container-lowest);
    --logo-fill-1: color-mix(
      in sRGB,
      var(--logo-color-primary),
      var(--logo-color-secondary) 85%
    );
    --logo-fill-2: color-mix(
      in sRGB,
      var(--logo-color-primary),
      var(--logo-color-secondary) 92%
    );
    --logo-fill-3: color-mix(
      in sRGB,
      var(--logo-color-primary),
      var(--logo-color-secondary) 98%
    );
    --logo-fill-4: var(--color-primary);

    display: flex;
    flex-shrink: 0;
    align-items: center;
    text-decoration: none;
    gap: var(--spacing-5);
  }

  .branding svg {
    width: 64px;
  }

  .branding__info {
    display: none;
    flex-shrink: 0;

    @media screen and (min-width: 640px) {
      display: block;
    }
  }

  .branding__name {
    color: var(--color-primary);
    font: var(--typography-headline-medium);
    font-weight: 900;
  }

  .branding__slogan {
    color: var(--color-on-surface-variant);
    font: var(--typography-title-small);
  }
}
