@layer component.ui {
  .prose {
    --prose-vertical-spacing: 2ch;
    --prose-list-vertical-spacing: 1ch;
    --prose-list-horizontal-spacing: 3ch;
    --prose-color: var(--color-on-surface-variant);
    --prose-secondary-color: var(--color-on-surface);

    width: 100%;
    color: var(--prose-color);
  }

  .prose > * {
    margin-block: var(--prose-vertical-spacing);

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }

  .prose h2 {
    padding-bottom: 0.5ch;
    border-bottom: 1px solid var(--color-surface-container-high);
  }

  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    margin-top: calc(var(--prose-vertical-spacing) + 1ch);
    color: var(--prose-secondary-color);
    font-weight: 500;
  }

  .prose h2:first-child,
  .prose h3:first-child,
  .prose h4:first-child,
  .prose h5:first-child,
  .prose h6:first-child {
    margin-top: 0;
  }

  .prose h2 + h3,
  .prose h3 + h4,
  .prose h4 + h5,
  .prose h5 + h6 {
    margin-top: 0;
  }

  .prose .heading-permalink {
    visibility: hidden;
    margin-left: 1ch;
    scroll-margin-top: 2ch;
    text-decoration: none;
  }

  .prose h1:hover .heading-permalink,
  .prose h2:hover .heading-permalink,
  .prose h3:hover .heading-permalink,
  .prose h4:hover .heading-permalink,
  .prose h5:hover .heading-permalink,
  .prose h6:hover .heading-permalink {
    visibility: visible;
  }

  .prose ul,
  .prose ol {
    padding-inline-start: var(--prose-list-horizontal-spacing);
  }

  .prose li > ul,
  .prose li > ol {
    position: relative;

    &::before {
      position: absolute;
      left: calc(-1.5ch + 1px);
      height: 100%;
      content: "";
      border-left: 1px solid var(--color-outline-variant);
    }
  }

  .prose li > p {
    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }

  .prose ul > *,
  .prose ol > *,
  .prose li > * {
    margin-block: var(--prose-list-vertical-spacing);
  }

  .prose li::marker {
    color: var(--color-outline);
  }

  .prose blockquote {
    position: relative;
    padding: var(--spacing-4);
    padding-inline-start: calc(var(--spacing-4) + var(--spacing-8));
    color: var(--prose-secondary-color);
    border-inline-start: 3px solid var(--color-outline-variant);
    border-radius: 0 var(--spacing-2) var(--spacing-2) 0;
    background: var(--color-surface-container-low);
    font-style: italic;

    &::before {
      position: absolute;
      top: var(--spacing-4);
      left: var(--spacing-4);
      content: "\201C";
      color: var(--color-outline-variant);
      font-size: 2rem;
      line-height: 1;
    }
  }

  .prose blockquote > * {
    margin-block: var(--spacing-2);

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }

  .prose figure {
    display: flex;
    flex-direction: column;
    padding: clamp(
      var(--spacing-2),
      calc(0.2727rem + 0.9697vw),
      var(--spacing-8)
    );
    border: 1px solid var(--color-outline-variant);
    border-radius: var(--spacing-4);
    background: var(--color-surface-container-low);
    gap: clamp(var(--spacing-2), calc(0.2727rem + 0.9697vw), var(--spacing-8));
  }

  .prose figure > figcaption {
    text-align: center;
    font: var(--typography-body-medium);
    font-style: italic;
  }

  .prose hr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: var(--prose-vertical-spacing);
    border: none;

    &::before {
      display: block;
      content: "∗∗∗";
      letter-spacing: var(--spacing-2);
      color: var(--color-outline-variant);
      font: var(--typography-display-medium);
      line-height: 1;
    }
  }

  .prose .footnote-ref {
    text-decoration: none;
    font: var(--typography-body-small);

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }

  .prose .footnote-backref {
    text-decoration: none;
  }

  .prose .footnotes {
    --link-text-decoration-thickness: 1px;

    font: var(--typography-body-small);
  }

  .prose .footnotes hr {
    margin: 0;
    margin-bottom: 2ch;
    border: none;
    border-top: 1px dashed var(--color-outline-variant);

    &::before {
      display: none;
    }
  }

  body:not(.is-using-mouse) .prose .heading-permalink {
    visibility: visible;
  }

  .prose a[href^="http"]::after {
    display: inline-block;
    width: 1.5ch;
    height: 1.5ch;
    margin-left: 0.25ch;
    content: "";
    vertical-align: middle;
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1zm11-3v9l-3.794-3.793l-5.999 6l-1.414-1.414l5.999-6L12 3z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}
