.tooltip {
  --link-text-decoration-thickness: 1px;

  position: absolute;
  width: 100%;
  max-width: 420px;
  padding: var(--spacing-4);
  color: var(--color-on-background);
  border: 1px solid var(--color-outline-variant);
  border-radius: var(--spacing-3);
  background: color-mix(in sRGB, var(--color-background), transparent);
  box-shadow:
    rgb(0 0 0 / 0.08) 0 12px 24px -4px,
    rgb(0 0 0 / 0.04) 0 8px 16px -4px;
  font: var(--typography-body-medium);
  backdrop-filter: blur(20px);
}

.tooltip .footnote-backref {
  display: none;
}
