.tooltip {
  --link-text-decoration-thickness: 1px;

  position: absolute;
  width: 100%;
  max-width: 420px;
  padding: var(--spacing-4);
  color: var(--color-on-background);
  border: 1px solid var(--color-outline-variant);
  border-radius: var(--spacing-3);
  background: color-mix(in sRGB, var(--color-background), transparent);
  box-shadow:
    color-mix(in sRGB, var(--color-shadow), transparent 95%) 0 4px 16px,
    color-mix(in sRGB, var(--color-shadow), transparent 99%) 0 8px 32px;
  font: var(--typography-body-medium);
  backdrop-filter: blur(24px);
}

.tooltip .footnote-backref {
  display: none;
}
