@layer component {
  .hljs {
    color: light-dark(#24292e, #c9d1d9);
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: light-dark(#d73a49, #ff7b72);
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: light-dark(#6f42c1, #d2a8ff);
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    color: light-dark(#005cc5, #79c0ff);
  }

  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    color: light-dark(#032f62, #a5d6ff);
  }

  .hljs-built_in,
  .hljs-symbol {
    color: light-dark(#e36209, #ffa657);
  }

  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    color: light-dark(#6a737d, #8b949e);
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    color: light-dark(#22863a, #7ee787);
  }

  .hljs-subst {
    color: light-dark(#24292e, #c9d1d9);
  }

  .hljs-section {
    color: light-dark(#005cc5, #1f6feb);
    font-weight: bold;
  }

  .hljs-bullet {
    color: light-dark(#735c0f, #f2cc60);
  }

  .hljs-emphasis {
    color: light-dark(#24292e, #c9d1d9);
    font-style: italic;
  }

  .hljs-strong {
    color: light-dark(#24292e, #c9d1d9);
    font-weight: bold;
  }

  .hljs-addition {
    color: light-dark(#22863a, #aff5b4);
    background-color: light-dark(#f0fff4, #033a16);
  }

  .hljs-deletion {
    color: light-dark(#b31d28, #ffdcd7);
    background-color: light-dark(#ffeef0, #67060c);
  }

  .hljs-copy {
    position: absolute;
    top: var(--spacing-5);
    right: var(--spacing-5);
    height: var(--spacing-6);
    cursor: pointer;
    text-indent: -9999px;
    border: 1px solid var(--color-outline-variant);
    border-radius: var(--spacing-1);
    background-color: var(--color-primary);
    padding-inline: var(--spacing-2);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.6 11.397c0-2.726 0-4.089.843-4.936c.844-.847 2.201-.847 4.917-.847h2.88c2.715 0 4.073 0 4.916.847c.844.847.844 2.21.844 4.936v4.82c0 2.726 0 4.089-.844 4.936c-.843.847-2.201.847-4.916.847h-2.88c-2.716 0-4.073 0-4.917-.847s-.843-2.21-.843-4.936z'/%3E%3Cpath fill='%23000' d='M4.172 3.172C3 4.343 3 6.229 3 10v2c0 3.771 0 5.657 1.172 6.828c.617.618 1.433.91 2.62 1.048c-.192-.84-.192-1.996-.192-3.66v-4.819c0-2.726 0-4.089.843-4.936c.844-.847 2.201-.847 4.917-.847h2.88c1.652 0 2.8 0 3.638.19c-.138-1.193-.43-2.012-1.05-2.632C16.657 2 14.771 2 11 2S5.343 2 4.172 3.172' opacity='0.5'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }

  .hljs-copy--status--success {
    text-indent: 0;
    color: var(--color-on-surface);
    background-color: var(--color-surface);
    mask: none;
  }
}
