/**
 * The styles for selection on pages.
 */
:root {
  --selection-background: var(--color-egyptian-blue);
  --selection-color: var(--color-white);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}
