# Ignore public directory because all project modules, themes, profiles,
# libraries and public files are managed by Composer and Drupal Scaffold
# Plugin.
/web/

# Ignore third-party dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

# Ignore paths that contain user-generated content.
/.local
/var/

# Ignore IDE project settings.
.idea

# Ignore npm packages.
node_modules
yarn-error.log

# Appended by core.
.csslintrc
.ht.router.php
.htaccess
INSTALL.txt
README.txt
web/README.md
autoload.php
example.gitignore
index.php
robots.txt
update.php
web.config

# Ignore scaffold files provided by drupal:scaffold.
.gitattributes
.editorconfig
example.sites.php
example.settings.local.php
default.settings.php
default.services.yml
production.settings.example.php

# ignore db backup
*.sql
*.sql.gz

# Ignore helpers for PHPStorm.
.phpstorm.meta.php
