# Ignore public directory because all project modules, themes, profiles,
# libraries and public files are managed by Composer and Drupal Scaffold
# Plugin.
/web/
# Ignore third-party dependencies that are managed with Composer.
/vendor/
# Ignore paths that contain user-generated content.
/private
# Ignore IDE project settings.
.idea
# Ignore npm packages.
node_modules
yarn-error.log
# Appended by core.
.csslintrc
.ht.router.php
.htaccess
INSTALL.txt
README.txt
web/README.md
autoload.php
example.gitignore
index.php
robots.txt
update.php
web.config
# Ignore db backup
*.sql
*.sql.gz
# Ignore helpers for PHPStorm.
.phpstorm.meta.php
