<?xml version="1.0"?>
<ruleset name="Niklan.net">
  <description>Niklan.net</description>
  <arg name="colors"/>
  <arg name="extensions" value="php,module,inc,install,theme"/>
  <file>./web/modules/custom</file>
  <file>./web/themes/custom</file>
  <!-- Exclude fixtures. -->
  <exclude-pattern>*/fixtures/*</exclude-pattern>
  <exclude-pattern>*\.(css|js)</exclude-pattern>
  <!-- Base ruleset. -->
  <rule ref="vendor/chi-teck/drupal-coder-extension/DrupalExtended"/>

  <rule ref="vendor/drupal/coder/coder_sniffer/Drupal">
    <!-- Not supporting param iterable types. Covered by PHPStan. -->
    <exclude name="Drupal.Commenting.FunctionComment.IncorrectParamVarName"/>
    <exclude name="Drupal.Commenting.VariableComment.IncorrectVarType"/>
    <!-- Conflicts with {@selfdoc} phpdoc. -->
    <exclude name="Drupal.Commenting.DocComment.ShortNotCapital"/>
    <exclude name="Drupal.Commenting.DocComment.ShortFullStop"/>
  </rule>

  <!-- Project specific rules. -->
  <rule ref="SlevomatCodingStandard.ControlStructures.AssignmentInCondition"/>
  <rule ref="SlevomatCodingStandard.ControlStructures.EarlyExit"/>
  <rule ref="SlevomatCodingStandard.ControlStructures.BlockControlStructureSpacing"/>
  <rule ref="SlevomatCodingStandard.ControlStructures.JumpStatementsSpacing"/>
  <rule ref="SlevomatCodingStandard.Complexity.Cognitive"/>
</ruleset>
