<article{{ attributes.addClass('search-result') }}>
  <h2 class="search-result__title">
    <a href="{{ url }}" class="search-result__link">{{ title }}</a>
  </h2>
  {% if excerpt %}
    <div class="search-result__excerpt">
      {{ excerpt }}
    </div>
  {% endif %}
</article>