@layer component.content {
  .search-result {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-4);
    border: 1px solid var(--color-surface-variant);
    border-radius: var(--spacing-4);
    background-color: var(--color-surface);
    gap: var(--spacing-2);

    &:focus-within,
    &:hover,
    &:active {
      outline: var(--default-focus-outline);
      background-color: var(--color-surface-container-highest);
      box-shadow: var(--elevation-2);
    }
  }

  .search-result__title {
    font: var(--typography-title-medium);
  }

  .search-result__link {
    --link-color: var(--color-on-surface);
    --focus-outline: none;

    text-decoration: none;

    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
    }
  }

  .search-result__excerpt {
    color: var(--color-on-surface-variant);
    font: var(--typography-body-small);
  }
}
