@layer component {
  .comment-comment-node-blog-entry-form {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-6);
    border: 1px solid var(--color-surface-dim);
    border-radius: var(--spacing-4);
    background: var(--color-surface-container-low);
    gap: var(--spacing-6);
  }

  .comment-comment-node-blog-entry-form__title {
    text-align: center;
  }

  .comment-comment-node-blog-entry-form__author {
    display: grid;
    gap: var(--spacing-4);

    @media screen and (min-width: 640px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .comment-comment-node-blog-entry-form__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }

  .comment-comment-node-blog-entry-form__body .textarea {
    width: 100%;
  }

  .comment-comment-node-blog-entry-form .form-actions {
    display: flex;
    gap: var(--spacing-4);
  }
}
