@layer element {
  :root {
    --link-color: var(--color-primary);
    --link-color-hover: var(--color-primary);
    --link-visited: var(--color-primary);
    --link-color-active: var(--color-primary);
  }

  a {
    --_link-text-decoration-thickness: var(
      --link-text-decoration-thickness,
      2px
    );

    transition:
      color 0.15s ease-in,
      text-underline-offset 0.15s ease-in;
    color: var(--link-color);
    text-underline-offset: 2px;
    text-decoration-color: inherit;
    text-decoration-thickness: var(--_link-text-decoration-thickness);

    &:visited {
      --link-color: var(--link-visited);
    }

    &:hover {
      --link-color: var(--link-color-hover);
    }

    &:active {
      --link-color: var(--link-color-active);
    }

    &:hover,
    &:active {
      text-underline-offset: 4px;
    }
  }
}
