.copyright {
  margin: var(--spacing-sm) var(--spacing-md);
  color: var(--color-gray-web);
  display: flex;
  align-items: flex-start;
}

.copyright__text {
  font-size: var(--font-size-xxs);
}

.copyright__actions {
  display: flex;
  align-items: center;
}

.copyright__right {
  margin-left: var(--spacing-sm);
  flex-shrink: 0;
}

.copyright__name-and-date {
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-xs);
}
