.form-success {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: var(--spacing-lg) 0;
}

.form-success__icon {
  width: 8rem;
  height: 8rem;
  margin-bottom: var(--spacing-md);
}

.form-success__icon-path {
  animation: check-icon 2s ease-out forwards;
  stroke: var(--color-jade);
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  stroke-width: 8px;
}

.form-success__title {
  font-size: var(--font-size-h4);
  font-weight: bold;
}

@keyframes check-icon {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
