{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup themeable
 */
#}
<div data-drupal-messages class="status-messages" x-data="Messages" data-messages="{{ message_list|json_encode }}">
  <template x-for="(message, index) in messageList" :key="index">
    <div role="contentinfo"
         x-transition.duration.500ms
         class="status-message"
         :class="'status-message--' + message.options.type"
         :data-id="message.options.id">
      <header class="status-message__head">
        <div class="status-message__icon"></div>
        <div class="status-message__label" x-html="message.options.label"></div>
        <button class="status-message__close"
             @click="removeMessage(message.options.id)"
             aria-label="{{ 'Close'|t }}"></button>
      </header>
      <main class="status-message__content" x-html="message.message"></main>
    </div>
  </template>
</div>
