{% do attributes.setAttribute('aria-hidden', 'true') %}
{% do attributes.setAttribute('data-icon', icon) %}
<span{{ attributes.addClass('icon') }}>
  {{- source(componentMetadata.path ~ '/icons/' ~ icon ~ '.svg') -}}
</span>
