{#
/**
 * @file
 * Theme override for present comments list.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - comments: An array with comments.
 * - pager: Pager element. NULL if not presented.
 */
#}
{{ attach_library('mechanical/component.theme.comments-list') }}
<section{{ attributes.addClass('comments-list') }}>
  <header class="comments-list__head">
    <p>{% trans %}Find out what publications are being discussed.{% endtrans %}</p>
  </header>
  <main class="comments-list__main">
    <div class="comments-list__items">
      {% for comment in comments %}
        <div class="comments-list__item">
          {{- comment -}}
        </div>
      {% endfor %}
    </div>

    {% if pager %}
      <div class="comments-list__pager">
        {{- pager -}}
      </div>
    {% endif %}
  </main>
</section>
