{#
/**
 * @file
 * Theme override for search page.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - header: The page header.
 * - content: The page content.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('mechanical/component.theme.search-page') }}
<section{{ attributes.addClass('search-page') }}>
  {% if header %}
    <header class="search-page__header">
      {{ header }}
    </header>
  {% endif %}

  {% if content %}
    <main class="search-page__content">
      {{ content }}
    </main>
  {% endif %}
</section>
