{#
/**
 * @file
 * Theme override for successful form submission.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - title: The message title.
 * - message: The message body.
 */
#}
{{ attach_library('mechanical/component.theme.form-success') }}
<div{{ attributes.addClass('form-success') }}>
  <svg xmlns="http://www.w3.org/2000/svg" class="form-success__icon"
       viewBox="0 0 98.5 98.5">
    <defs/>
    <path fill="none"
          d="M81.7 17.8A44.98 44.98 0 0049.2 4C24.3 4 4 24.3 4 49.2s20.3 45.2 45.2 45.2 45.2-20.3 45.2-45.2c0-8.6-2.4-16.6-6.5-23.4L45.6 68.2 24.7 47.3"
          class="form-success__icon-path"/>
  </svg>
  <div class="form-success__title">{{ title }}</div>
  <div class="form-success__message">
    <p>{{ message }}</p>
  </div>
</div>
