{#
/**
 * @file
 * Theme override for contact page contents.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - language: The current language.
 *
 * @see mechanical_preprocess_niklan_contact_page()
 */
#}
{{ attach_library('mechanical/component.theme.contact-page') }}
{% set email = 'i@niklan.net' %}
{% set telegram_url = 'https://t.me/niklan' %}
<div class="contact-page">
  <div class="contact-page__content">
    <a href="mailto:{{ email }}" class="contact-page__email">{{ email }}</a>
    <p>{% trans %}If it is more convenient, write directly on Telegram - <a href="{{ telegram_url }}" target="_blank" rel="nofollow noopener">@Niklan</a>. Just ask: no need to write «hello» and wait for my reaction, directly write a question; I do not listen voice messages; I do not answer calls.{% endtrans %}</p>
  </div>
</div>
