.comment-comment-node-blog-entry-form {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-6);
  border-radius: var(--spacing-4);
  background: var(--color-surface-bright);
  gap: var(--spacing-4);
  border: var(--spacing-2) solid var(--color-surface-container);
}

.comment-comment-node-blog-entry-form__title {
  text-align: center;
}

.comment-comment-node-blog-entry-form__author {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-4);
}

.comment-comment-node-blog-entry-form__body .textarea {
  width: 100%;
}

.comment-comment-node-blog-entry-form .form-actions {
  display: flex;
  gap: var(--spacing-4);
}
