.comment {
  --_comment-gap: var(--spacing-4);
  --link-text-decoration-thickness: 1px;

  display: flex;
  flex-direction: column;
  padding: var(--spacing-6);
  border: 1px solid var(--color-surface-container-high);
  border-radius: var(--spacing-2);
  background: var(--color-surface-container-low);
  gap: var(--_comment-gap);
}

.comment__body {
  display: flex;
  flex-direction: column;
  font: var(--typography-body-medium);
  gap: var(--spacing-4);
}

.comment__actions {
  --button-background-color: var(--color-surface-container-high);
  --button-background-color-hover: var(--color-surface-container-highest);
  --button-color: var(--color-on-surface-variant);

  padding-top: var(--_comment-gap);
  border-top: 1px solid var(--color-surface-container-high);
}

.comment__attribution {
  display: flex;
  align-items: center;
  padding-bottom: var(--_comment-gap);
  border-bottom: 1px solid var(--color-surface-container-high);
  font: var(--typography-body-small);
  gap: var(--spacing-2);
}

.comment__created {
  text-decoration: none;
  color: var(--color-outline);
}

.comment__attribution-separator {
  color: var(--color-outline-variant);
}
