<div{{ attributes.addClass('alert', 'alert--' ~ type|clean_class) }}>
  {% if heading %}
    <div class="alert__heading">
      {% block heading %}{% endblock %}
    </div>
  {% endif %}
  <div class="alert__content">
    {% block content %}{% endblock %}
  </div>
</div>
