.code-block {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  font: var(--typography-body-small);
  padding: var(--spacing-4);
  border-radius: var(--spacing-4);
  background: var(--color-surface-container-high);
}

.code-block__main {
  padding: var(--spacing-6);
  background-color: var(--color-surface);
  border-radius: var(--spacing-2);
}

.code-block__header {
  padding-inline: var(--spacing-6);
}

.code-block__title {
  color: var(--color-on-surface);
  font: var(--typography-title-medium);
  text-align: center;
}