{#
/**
 * @file
 * Default theme implementation to display about page contents.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - photo: (optional) The render element with a photo.
 *
 * @see template_preprocess_niklan_about_page()
 */
#}
<div{{ attributes.addClass('about-page') }}>
  {% if photo %}
    <div class="about-welcome__photo">
      {{ photo }}
    </div>
  {% endif %}

  {% trans %}Hello, world!{% endtrans %}
</div>
