{#
/**
 * @file
 * Default theme implementation to present optimized oEmbed video.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - preview: The contents used for thumbnail preview.
 * - content: The content to be displayed.
 */
#}
{{ attach_library('niklan/oembed-video') }}
<div{{ attributes.addClass('oembed-video') }}
  data-niklan-selector="oembed-video">
  <div class="oembed-video__preview" data-preview>
    {{- preview -}}
  </div>
  <template data-content-template>
    <div class="oembed-video__content">
      {{ content }}
    </div>
  </template>
</div>
