{#
/**
 * @file
 * Default theme implementation to present blog post listing on tag page.
 *
 * Available variables:
 * - attributes: An attributes.
 * - items: An array with items to show.
 * - pager: The pager.
 */
#}
<div{{ attributes.addClass('tag-page') }}>
  {% if not items is empty %}
    <div class="tag-page__items">
      {% for item in items %}
        {{- item -}}
      {% endfor %}
    </div>
  {% endif %}

  {% if pager %}
    <div class="tag-page__pager">
      {{- pager -}}
    </div>
  {% endif %}
</div>
