{#
/**
 * @file
 * Default theme implementation to display search page.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - header: The page header.
 * - content: The page content.
 *
 * @ingroup themeable
 */
#}
<section{{ attributes.addClass('search-page') }}>
  {% if header %}
    <header class="search-page__header">
      {{ header }}
    </header>
  {% endif %}

  {% if content %}
    <div class="search-page__content">
      {{ content }}
    </div>
  {% endif %}
</section>
