@layer component.content {
  .article-card {
    --meta-font: var(--typography-label-medium);
    --meta-icon-size: var(--spacing-4);

    position: relative;
    display: flex;
    flex-flow: nowrap;
    flex-flow: column;
    padding: var(--spacing-4);
    transition: all 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
    color: var(--color-on-surface);
    border: 1px solid var(--color-outline-variant);
    border-radius: var(--spacing-4);
    outline: var(--default-focus-outline-width) solid transparent;
    background: var(--color-surface);
    gap: var(--spacing-6);
    box-shadow: color-mix(in sRGB, var(--color-shadow), transparent 90%) 0 2px
      8px 0;

    &:focus-within,
    &:hover,
    &:active {
      border-color: transparent;
      outline: var(--default-focus-outline);
      background-color: var(--color-surface-container-highest);
    }

    @media screen and (min-width: 1200px) {
      flex-flow: row;
    }
  }

  .article-card__poster {
    overflow: hidden;
    flex-shrink: 0;
    align-self: center;
    width: 150px;
    border-radius: var(--spacing-2);

    @media screen and (min-width: 1200px) {
      align-self: flex-start;
    }
  }

  .article-card__link {
    --focus-outline: none;

    text-decoration: none;
    color: var(--color-on-surface);

    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
      border-radius: var(--spacing-4);
    }
  }

  .article-card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    height: 100%;
  }

  .article-card__title {
    color: var(--color-on-surface);
    font: var(--typography-title-medium);

    @media screen and (min-width: 1200px) {
      font: var(--typography-title-large);
    }
  }

  .article-card__summary {
    color: var(--color-on-surface-variant);
    font: var(--typography-label-large);
  }

  .article-card__meta {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: auto;
    gap: var(--spacing-2);

    @media screen and (min-width: 1200px) {
      flex-flow: row;
      align-items: center;
    }
  }

  .article-card__meta-separator {
    display: none;
    font: var(--meta-font);

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}
