@layer component.ui {
  .attachment-file {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-4);
    text-decoration: none;
    border: 1px solid var(--color-outline-variant);
    border-radius: var(--spacing-2);
    background-color: var(--color-surface-container-lowest);
    gap: var(--spacing-2);

    &:hover,
    &:focus,
    &:active {
      border-color: var(--color-primary);
      background-color: var(--color-surface-container-low);
    }
  }

  .attachment-file__label {
    color: var(--color-on-surface);
    font: var(--typography-title-medium);
  }

  .attachment-file__extra {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    color: var(--color-on-surface-variant);
    font: var(--typography-label-large);
  }
}
