.home {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.home__intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  max-width: 80ch;
  margin: 0 auto;
}

.home__intro-text {
  font: var(--typography-headline-medium);
  color: var(--color-on-surface-variant);
}

.home__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-6);
}

.home-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border-radius: var(--spacing-6);
  min-height: 400px;
  box-shadow: var(--elevation-2);

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(360deg, var(--color-secondary) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.home-card__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-card__content {
  padding: var(--spacing-6);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  position: relative;
  z-index: 1;
  color: var(--color-on-secondary)
}

.home-card__title {
  font: var(--typography-title-large);
}

.home-card__description {
  font: var(--typography-body-medium);
}