@layer component.ui {
  .lightbox {
    display: flex;
    justify-content: center;
  }

  .lightbox__link {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: var(--spacing-4);
  }

  .lightbox__link img {
    border: 1px solid var(--color-surface-dim);
    border-radius: var(--spacing-2);
  }

  .lightbox__icon {
    --icon-wrapper-width: 40px;
    --icon-width: 24px;

    position: absolute;
    z-index: 5;
    top: var(--spacing-2);
    right: var(--spacing-2);
    transition: opacity 0.25s linear;
    opacity: 0;
    border: 1px solid var(--color-outline-variant);
    border-radius: var(--spacing-2);
    background-color: var(--color-surface-container-low);
    box-shadow:
      color-mix(in sRGB, var(--color-scrim), transparent 90%) 0 10px 15px -3px,
      color-mix(in sRGB, var(--color-scrim), transparent 95%) 0 4px 6px -2px;
  }

  .lightbox:hover .lightbox__icon {
    opacity: 1;
  }
}
