.node-blog-entry-full .blog-meta {
  margin: var(--spacing-lg) 0;
}

.node-blog-entry-full .node-blog-entry-field-tags {
  margin: var(--spacing-lg) 0;
}

.node-blog-entry-full .share {
  margin: var(--spacing-xl) 0;
}

.node-blog-entry-full .previous-next {
  margin: var(--spacing-xl) 0;
}

.node-blog-entry-external-content video {
  /* Margin fix. */
  display: block;
  width: 100%;
  height: auto;
  margin: var(--p-margin--y) 0;
}
