.node-blog-entry-field-media-image img {
  overflow: hidden;
  width: 100%;
  border-radius: var(--radius-xs);
  box-shadow: var(--shadow-xs);
}

.node-blog-entry-field-media-image a {
  display: block;
  border-radius: var(--radius-sm);
}
