.node-blog-entry-search-result {
  --p-margin--y: var(--spacing-xs);
}

.node-blog-entry-search-result__title {
  --link-color: var(--text-color);

  margin-bottom: var(--spacing-sm);
  font-size: var(--font-size-base);
}
