.page-footer {
  /* Add extra bottom padding to avoid overlap with nav. */
  padding: var(--spacing-10) 0 calc(var(--spacing-10) * 3) 0;
  color: var(--color-on-surface-variant);
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: var(--spacing-4);
  font: var(--typography-label-large);
}

.page-footer__main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.page-footer__versions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.page-footer__extra {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  align-items: flex-start;
}
