<nav{{ attributes.addClass('main-navigation') }}>
  {% for item in items  %}
    {% include 'laszlo:main-navigation-item' with {
      label: item.label,
      url: item.url,
      icon: item.icon,
    } only %}
  {% endfor %}
</nav>
