@layer component.content {
  .tag-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-4);
    transition: background-color 0.25s linear;
    color: var(--color-on-surface);
    border: 1px solid var(--color-outline-variant);
    border-radius: var(--spacing-2);
    background: var(--color-surface);
    gap: var(--spacing-2);

    &:focus-within,
    &:hover {
      background-color: var(--color-surface-container-highest);
    }
  }

  .tag-card__link {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--spacing-2);

    &:active {
      outline: var(--default-focus-outline);
    }
  }

  .tag-card__title {
    font: var(--typography-title-medium);
  }

  .tag-card__publications-count,
  .tag-card__publications-dates {
    --icon-wrapper-width: 1rem;

    display: flex;
    align-items: center;
    color: var(--color-on-surface-variant);
    font: var(--typography-label-medium);
    gap: var(--spacing-2);
  }
}
