.home-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-6);
}

.home-cards__card {
  --link-color: var(--color-on-secondary);
  --link-color-hover: var(--color-on-secondary);

  position: relative;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  min-height: 400px;
  border-radius: var(--spacing-6);
  box-shadow: var(--elevation-1);

  &::before {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background: linear-gradient(
      360deg,
      var(--color-secondary) 0%,
      rgb(0 0 0 / 0) 100%
    );
  }
}

.home-cards__background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-cards__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-6);
  color: var(--color-on-secondary);
  gap: var(--spacing-3);
}

.home-cards__title {
  font: var(--typography-title-large);
}

.home-cards__description {
  font: var(--typography-body-medium);
}
