.share-dialog {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.share-dialog__copy-element {
  display: flex;
  flex-flow: nowrap;
  align-items: stretch;
  width: 100%;
  gap: var(--spacing-2);
}

.share-dialog__links {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

.share-dialog__link {
  flex-grow: 1;
  justify-content: center;
}

.share-dialog__link .icon {
  width: 2rem;
}
