{%
  set classes = [
    'input',
    'input--variant--' ~ variant|default('plain'),
    'input--color--' ~ color|default('primary'),
    'input--size--' ~ size|default('md'),
    full_width ? 'input--full-width',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <input{{ input_attributes.addClass('input__input') }}/>
</div>
