@layer setting {
  :root {
    --color-primary: rgb(42 91 0);
    --color-surface-tint: rgb(50 107 0);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(65 132 7);
    --color-on-primary-container: rgb(255 255 255);
    --color-secondary: rgb(74 102 53);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(207 241 179);
    --color-on-secondary-container: rgb(55 82 35);
    --color-tertiary: rgb(0 90 87);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(0 130 126);
    --color-on-tertiary-container: rgb(255 255 255);
    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-on-error-container: rgb(65 0 2);
    --color-background: rgb(247 251 236);
    --color-on-background: rgb(24 29 20);
    --color-surface: rgb(247 251 236);
    --color-on-surface: rgb(24 29 20);
    --color-surface-variant: rgb(221 230 208);
    --color-on-surface-variant: rgb(65 73 57);
    --color-outline: rgb(113 122 104);
    --color-outline-variant: rgb(193 202 181);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(45 50 40);
    --color-inverse-on-surface: rgb(238 242 228);
    --color-inverse-primary: rgb(144 218 92);
    --color-primary-fixed: rgb(171 247 117);
    --color-on-primary-fixed: rgb(11 32 0);
    --color-primary-fixed-dim: rgb(144 218 92);
    --color-on-primary-fixed-variant: rgb(36 81 0);
    --color-secondary-fixed: rgb(203 237 175);
    --color-on-secondary-fixed: rgb(11 32 0);
    --color-secondary-fixed-dim: rgb(176 208 149);
    --color-on-secondary-fixed-variant: rgb(51 78 32);
    --color-tertiary-fixed: rgb(137 244 239);
    --color-on-tertiary-fixed: rgb(0 32 31);
    --color-tertiary-fixed-dim: rgb(108 215 211);
    --color-on-tertiary-fixed-variant: rgb(0 80 77);
    --color-surface-dim: rgb(215 220 206);
    --color-surface-bright: rgb(247 251 236);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(241 245 231);
    --color-surface-container: rgb(235 240 225);
    --color-surface-container-high: rgb(230 234 220);
    --color-surface-container-highest: rgb(224 228 214);
  }

  [data-theme="dark"] {
    --color-primary: rgb(144 218 92);
    --color-surface-tint: rgb(144 218 92);
    --color-on-primary: rgb(23 56 0);
    --color-primary-container: rgb(65 132 7);
    --color-on-primary-container: rgb(255 255 255);
    --color-secondary: rgb(176 208 149);
    --color-on-secondary: rgb(29 55 11);
    --color-secondary-container: rgb(42 68 23);
    --color-on-secondary-container: rgb(186 219 158);
    --color-tertiary: rgb(108 215 211);
    --color-on-tertiary: rgb(0 55 53);
    --color-tertiary-container: rgb(0 130 126);
    --color-on-tertiary-container: rgb(255 255 255);
    --color-error: rgb(255 180 171);
    --color-on-error: rgb(105 0 5);
    --color-error-container: rgb(147 0 10);
    --color-on-error-container: rgb(255 218 214);
    --color-background: rgb(16 21 12);
    --color-on-background: rgb(224 228 214);
    --color-surface: rgb(16 21 12);
    --color-on-surface: rgb(224 228 214);
    --color-surface-variant: rgb(65 73 57);
    --color-on-surface-variant: rgb(193 202 181);
    --color-outline: rgb(139 148 129);
    --color-outline-variant: rgb(65 73 57);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(224 228 214);
    --color-inverse-on-surface: rgb(45 50 40);
    --color-inverse-primary: rgb(50 107 0);
    --color-primary-fixed: rgb(171 247 117);
    --color-on-primary-fixed: rgb(11 32 0);
    --color-primary-fixed-dim: rgb(144 218 92);
    --color-on-primary-fixed-variant: rgb(36 81 0);
    --color-secondary-fixed: rgb(203 237 175);
    --color-on-secondary-fixed: rgb(11 32 0);
    --color-secondary-fixed-dim: rgb(176 208 149);
    --color-on-secondary-fixed-variant: rgb(51 78 32);
    --color-tertiary-fixed: rgb(137 244 239);
    --color-on-tertiary-fixed: rgb(0 32 31);
    --color-tertiary-fixed-dim: rgb(108 215 211);
    --color-on-tertiary-fixed-variant: rgb(0 80 77);
    --color-surface-dim: rgb(16 21 12);
    --color-surface-bright: rgb(54 59 49);
    --color-surface-container-lowest: rgb(11 15 8);
    --color-surface-container-low: rgb(24 29 20);
    --color-surface-container: rgb(28 33 24);
    --color-surface-container-high: rgb(39 43 34);
    --color-surface-container-highest: rgb(50 54 45);
  }
}
