@layer setting {
  :root {
    --color-primary: rgb(0 73 178);
    --color-surface-tint: rgb(0 87 207);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(0 107 252);
    --color-on-primary-container: rgb(255 255 255);
    --color-secondary: rgb(66 92 156);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(169 192 255);
    --color-on-secondary-container: rgb(14 47 109);
    --color-tertiary: rgb(131 16 167);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(173 68 207);
    --color-on-tertiary-container: rgb(255 255 255);
    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-on-error-container: rgb(65 0 2);
    --color-background: rgb(250 248 255);
    --color-on-background: rgb(25 27 36);
    --color-surface: rgb(250 248 255);
    --color-on-surface: rgb(25 27 36);
    --color-surface-variant: rgb(222 226 244);
    --color-on-surface-variant: rgb(66 70 85);
    --color-outline: rgb(114 119 135);
    --color-outline-variant: rgb(194 198 216);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(45 48 57);
    --color-inverse-on-surface: rgb(239 240 252);
    --color-inverse-primary: rgb(177 197 255);
    --color-primary-fixed: rgb(218 226 255);
    --color-on-primary-fixed: rgb(0 25 70);
    --color-primary-fixed-dim: rgb(177 197 255);
    --color-on-primary-fixed-variant: rgb(0 65 159);
    --color-secondary-fixed: rgb(218 226 255);
    --color-on-secondary-fixed: rgb(0 25 70);
    --color-secondary-fixed-dim: rgb(177 197 255);
    --color-on-secondary-fixed-variant: rgb(40 68 131);
    --color-tertiary-fixed: rgb(251 215 255);
    --color-on-tertiary-fixed: rgb(51 0 68);
    --color-tertiary-fixed-dim: rgb(240 176 255);
    --color-on-tertiary-fixed-variant: rgb(119 0 153);
    --color-surface-dim: rgb(216 217 229);
    --color-surface-bright: rgb(250 248 255);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(242 243 255);
    --color-surface-container: rgb(236 237 249);
    --color-surface-container-high: rgb(230 231 244);
    --color-surface-container-highest: rgb(225 226 238);
  }
}
