/**
 * - Source color: #EFCD58
 * - Tertiary: #2E7D32 (adjusted manually)
 * - [x] Color match
 * - [x] Harmonize extended colors
 * - [x] Check contrast
 */
@layer setting {
  :root {
    --color-primary: rgb(114 92 0);
    --color-surface-tint: rgb(114 92 0);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(239 205 88);
    --color-on-primary-container: rgb(107 86 0);
    --color-secondary: rgb(107 93 49);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(242 223 167);
    --color-on-secondary-container: rgb(112 98 53);
    --color-tertiary: rgb(13 99 27);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(46 125 50);
    --color-on-tertiary-container: rgb(203 255 194);
    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-on-error-container: rgb(147 0 10);
    --color-background: rgb(255 248 240);
    --color-on-background: rgb(30 27 19);
    --color-surface: rgb(255 248 240);
    --color-on-surface: rgb(30 27 19);
    --color-surface-variant: rgb(236 226 203);
    --color-on-surface-variant: rgb(76 70 54);
    --color-outline: rgb(126 119 100);
    --color-outline-variant: rgb(207 198 176);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(52 48 39);
    --color-inverse-on-surface: rgb(248 240 227);
    --color-inverse-primary: rgb(229 196 80);
    --color-primary-fixed: rgb(255 224 126);
    --color-on-primary-fixed: rgb(35 27 0);
    --color-primary-fixed-dim: rgb(229 196 80);
    --color-on-primary-fixed-variant: rgb(86 69 0);
    --color-secondary-fixed: rgb(245 225 169);
    --color-on-secondary-fixed: rgb(35 27 0);
    --color-secondary-fixed-dim: rgb(216 197 143);
    --color-on-secondary-fixed-variant: rgb(82 70 28);
    --color-tertiary-fixed: rgb(163 246 156);
    --color-on-tertiary-fixed: rgb(0 34 4);
    --color-tertiary-fixed-dim: rgb(136 217 130);
    --color-on-tertiary-fixed-variant: rgb(0 83 18);
    --color-surface-dim: rgb(224 217 204);
    --color-surface-bright: rgb(255 248 240);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(250 243 229);
    --color-surface-container: rgb(245 237 224);
    --color-surface-container-high: rgb(239 231 218);
    --color-surface-container-highest: rgb(233 226 213);
  }

  [data-theme="dark"] {
    --color-primary: rgb(255 235 176);
    --color-surface-tint: rgb(229 196 80);
    --color-on-primary: rgb(59 47 0);
    --color-primary-container: rgb(239 205 88);
    --color-on-primary-container: rgb(107 86 0);
    --color-secondary: rgb(216 197 143);
    --color-on-secondary: rgb(58 47 7);
    --color-secondary-container: rgb(85 72 30);
    --color-on-secondary-container: rgb(201 183 130);
    --color-tertiary: rgb(136 217 130);
    --color-on-tertiary: rgb(0 57 9);
    --color-tertiary-container: rgb(46 125 50);
    --color-on-tertiary-container: rgb(203 255 194);
    --color-error: rgb(255 180 171);
    --color-on-error: rgb(105 0 5);
    --color-error-container: rgb(147 0 10);
    --color-on-error-container: rgb(255 218 214);
    --color-background: rgb(22 19 12);
    --color-on-background: rgb(233 226 213);
    --color-surface: rgb(22 19 12);
    --color-on-surface: rgb(233 226 213);
    --color-surface-variant: rgb(76 70 54);
    --color-on-surface-variant: rgb(207 198 176);
    --color-outline: rgb(152 144 124);
    --color-outline-variant: rgb(76 70 54);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(233 226 213);
    --color-inverse-on-surface: rgb(52 48 39);
    --color-inverse-primary: rgb(114 92 0);
    --color-primary-fixed: rgb(255 224 126);
    --color-on-primary-fixed: rgb(35 27 0);
    --color-primary-fixed-dim: rgb(229 196 80);
    --color-on-primary-fixed-variant: rgb(86 69 0);
    --color-secondary-fixed: rgb(245 225 169);
    --color-on-secondary-fixed: rgb(35 27 0);
    --color-secondary-fixed-dim: rgb(216 197 143);
    --color-on-secondary-fixed-variant: rgb(82 70 28);
    --color-tertiary-fixed: rgb(163 246 156);
    --color-on-tertiary-fixed: rgb(0 34 4);
    --color-tertiary-fixed-dim: rgb(136 217 130);
    --color-on-tertiary-fixed-variant: rgb(0 83 18);
    --color-surface-dim: rgb(22 19 12);
    --color-surface-bright: rgb(61 57 48);
    --color-surface-container-lowest: rgb(16 14 7);
    --color-surface-container-low: rgb(30 27 19);
    --color-surface-container: rgb(34 31 23);
    --color-surface-container-high: rgb(45 42 33);
    --color-surface-container-highest: rgb(56 52 44);
  }
}
