@layer setting {
  :root {
    --color-primary: rgb(25 95 210);
    --color-surface-tint: rgb(25 95 210);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(220 235 255);
    --color-on-primary-container: rgb(0 25 65);
    --color-secondary: rgb(80 93 110);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(229 233 239);
    --color-on-secondary-container: rgb(40 47 58);
    --color-tertiary: rgb(244 214 138);
    --color-on-tertiary: rgb(60 50 0);
    --color-tertiary-container: rgb(255 238 204);
    --color-on-tertiary-container: rgb(60 50 0);
    --color-error: rgb(220 38 38);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(254 226 226);
    --color-on-error-container: rgb(127 29 29);
    --color-background: rgb(250 251 252);
    --color-on-background: rgb(26 28 30);
    --color-surface: rgb(250 251 252);
    --color-on-surface: rgb(26 28 30);
    --color-surface-variant: rgb(229 231 235);
    --color-on-surface-variant: rgb(57 62 71);
    --color-outline: rgb(156 163 175);
    --color-outline-variant: rgb(209 213 219);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(45 48 51);
    --color-inverse-on-surface: rgb(241 243 245);
    --color-inverse-primary: rgb(120 170 255);
    --color-primary-fixed: rgb(220 235 255);
    --color-on-primary-fixed: rgb(0 25 65);
    --color-primary-fixed-dim: rgb(120 170 255);
    --color-on-primary-fixed-variant: rgb(0 60 130);
    --color-secondary-fixed: rgb(229 233 239);
    --color-on-secondary-fixed: rgb(20 25 30);
    --color-secondary-fixed-dim: rgb(195 203 215);
    --color-on-secondary-fixed-variant: rgb(60 73 88);
    --color-tertiary-fixed: rgb(255 238 204);
    --color-on-tertiary-fixed: rgb(60 50 0);
    --color-tertiary-fixed-dim: rgb(244 214 138);
    --color-on-tertiary-fixed-variant: rgb(100 85 20);
    --color-surface-dim: rgb(218 220 224);
    --color-surface-bright: rgb(250 251 252);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(248 249 250);
    --color-surface-container: rgb(245 246 247);
    --color-surface-container-high: rgb(241 243 245);
    --color-surface-container-highest: rgb(237 239 241);
  }

  [data-theme="dark"] {
    --color-primary: rgb(168 200 255);
    --color-surface-tint: rgb(120 170 255);
    --color-on-primary: rgb(0 25 65);
    --color-primary-container: rgb(0 60 130);
    --color-on-primary-container: rgb(220 235 255);
    --color-secondary: rgb(195 203 215);
    --color-on-secondary: rgb(40 47 58);
    --color-secondary-container: rgb(60 73 88);
    --color-on-secondary-container: rgb(229 233 239);
    --color-tertiary: rgb(244 214 138);
    --color-on-tertiary: rgb(60 50 0);
    --color-tertiary-container: rgb(100 85 20);
    --color-on-tertiary-container: rgb(255 238 204);
    --color-error: rgb(248 113 113);
    --color-on-error: rgb(127 29 29);
    --color-error-container: rgb(153 27 27);
    --color-on-error-container: rgb(254 226 226);
    --color-background: rgb(26 28 30);
    --color-on-background: rgb(226 228 231);
    --color-surface: rgb(26 28 30);
    --color-on-surface: rgb(226 228 231);
    --color-surface-variant: rgb(68 71 76);
    --color-on-surface-variant: rgb(195 199 206);
    --color-outline: rgb(140 144 152);
    --color-outline-variant: rgb(68 71 76);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(226 228 231);
    --color-inverse-on-surface: rgb(45 48 51);
    --color-inverse-primary: rgb(25 95 210);
    --color-primary-fixed: rgb(220 235 255);
    --color-on-primary-fixed: rgb(0 25 65);
    --color-primary-fixed-dim: rgb(120 170 255);
    --color-on-primary-fixed-variant: rgb(0 60 130);
    --color-secondary-fixed: rgb(229 233 239);
    --color-on-secondary-fixed: rgb(20 25 30);
    --color-secondary-fixed-dim: rgb(195 203 215);
    --color-on-secondary-fixed-variant: rgb(60 73 88);
    --color-tertiary-fixed: rgb(255 238 204);
    --color-on-tertiary-fixed: rgb(60 50 0);
    --color-tertiary-fixed-dim: rgb(244 214 138);
    --color-on-tertiary-fixed-variant: rgb(100 85 20);
    --color-surface-dim: rgb(26 28 30);
    --color-surface-bright: rgb(60 63 67);
    --color-surface-container-lowest: rgb(18 20 22);
    --color-surface-container-low: rgb(32 34 37);
    --color-surface-container: rgb(36 39 42);
    --color-surface-container-high: rgb(46 49 53);
    --color-surface-container-highest: rgb(56 59 64);
  }
}
