<div{{ attributes.addClass('meta') }}>
  {{ include('laszlo:svg-icon', { icon }, with_context = false) }}
  <span class="meta__label">{{ label }}:</span>
  <span class="meta__value">{{ value }}</span>
</div>
