.meta {
  --color: var(--color-on-surface-variant);

  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  font: var(--typography-label-large);
}

.meta svg {
  fill: var(--color);
  width: var(--spacing-6);
}
