.node-portfolio-full .node-portfolio-field-date {
  margin-bottom: var(--spacing-xs);
}

.node-portfolio-field-date--full {
  display: flex;
  align-items: center;
}

.node-portfolio-field-date--full::before {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: var(--spacing-xs);
  content: '';
  background-image: url('../../../../icons/000000/calendar.svg');
  background-position: center;
  background-size: 18px;
}

.node-portfolio-field-media-images {
  margin-top: var(--spacing-lg);
}

.node-portfolio-field-media-images__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-md)
}

@media (min-width: 768px) {
  .node-portfolio-field-media-images__items {
    grid-template-columns: repeat(3, 1fr)
  }
}

.node-portfolio-field-media-images .photoswipe {
  display: block;
  overflow: hidden;
  border-radius: var(--radius-xs);
  box-shadow: var(--shadow-xs);
}
