.region-sidebar-right {
  position: relative;
  display: none;
  padding: var(--spacing-xl) var(--spacing-md) var(--spacing-md);
  padding-left: 0;
}

@media (min-width: 1140px) {
  .region-sidebar-right {
    display: initial;
  }
}
