.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;

  @media (--lg) {
    grid-template-columns: var(--navigation-width) minmax(0, 800px);
  }
}

.main-layout--sidebar-right {
  @media (--xl) {
    grid-template-columns: var(--navigation-width) minmax(0, 800px) 280px;
  }
}
