.region-content {
  margin: var(--spacing-md);
  margin-top: 0;

  @media (--sm) {
    margin: var(--spacing-xl);
    margin-top: 0;
  }

  @media (--lg) {
    margin: var(--spacing-xl);
  }
}

.region-content .block--mechanical-breadcrumbs {
  margin-bottom: var(--spacing-md);
}

.region-content .block--mechanical-page-title {
  margin-bottom: var(--spacing-xl);
}
