parameters:
  level: 9
  paths:
    - ../app
  excludePaths:
    - *Test.php
    - *TestBase.php
    - ../app/Drupal/mechanical/*
  stubFiles:
    - ./phpstan-stubs/php/DOMNode.stub
  ignoreErrors:
    # Drupal render arrays are impossible to fix.
    - identifier: missingType.iterableValue
