parameters:
  paths:
    - ../app
  excludePaths:
    - *Test.php
    - *TestBase.php
  level: 5
  drupal:
    # Some tools (e.g. PHPStorm) can execute PHPStan from different directories,
    # this can lead to problems with Drupal Root detection.
    # Set this value relative to %rootDir% (vendor/phpstan/phpstan), we always
    # directs to directory with phpstan.neon (current) file, which is in
    # Drupal project docroot.
    drupal_root: %rootDir%/../../../
  ignoreErrors:
    # @todo Refactor or wait until Drupal core solve that issue.
    - '#.+Symfony\\Component\\DependencyInjection\\ContainerAwareInterface.+#'
