parameters:
  level: 9
  paths:
    - ../app
  excludePaths:
    - *Test.php
    - *TestBase.php
  drupal:
    rules:
      classExtendsInternalClassRule: false
  ignoreErrors:
    # Drupal render arrays are impossible to fix.
    - identifier: missingType.iterableValue
