<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         cacheResult="false"
         verbose="true">
  <php>
    <!-- @todo Switch to 32767 and fix all tests. -->
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <!--<env name="SIMPLETEST_BASE_URL" value="http://nginx"/>-->
    <!--<env name="SIMPLETEST_DB" value="sqlite://localhost//mnt/tmpfs/test.sqlite"/>-->
    <!--<env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","goog:chromeOptions":{"args":["&#45;&#45;disable-gpu","&#45;&#45;headless"]}}, "http://chrome:9515"]'/>-->
  </php>

  <testsuites>
    <testsuite name="unit">
      <directory>../app/Drupal/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>../app/Drupal/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>../app/Drupal/*/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>../app/Drupal/*/tests/src/FunctionalJavascript</directory>
    </testsuite>
  </testsuites>

  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener"/>
  </listeners>

  <coverage processUncoveredFiles="true">
    <include>
      <directory>../app/Drupal/*/src</directory>
    </include>

    <exclude>
      <directory>../app/Drupal/*/tests</directory>
      <!-- There is no reason for test for one-time use code. -->
      <directory>../app/Drupal/*/src/Hook/Deploy</directory>
      <!-- There is no point in testing the dev module, as it is not used in production. -->
      <directory>../app/Drupal/niklan_dev</directory>
    </exclude>

    <report>
      <!-- Write it here, because PHPUnit run under web user has no access to write into other directories. -->
      <clover outputFile="../web/sites/default/files/coverage.xml"/>
      <html outputDirectory="../web/sites/default/files/coverage/html" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
</phpunit>
