@layer element {
  a {
    --_link-color: var(--link-color, var(--color-tertiary));
    --_link-color-hover: var(--link-color-hover, var(--color-tertiary));
    --_link-visited: var(--link-visited, var(--color-tertiary));
    --_link-color-active: var(--link-color-active, var(--color-tertiary));
    --_link-color-broken: var(--link-color-broken, var(--color-error));
    --_link-text-decoration-thickness: var(
      --link-text-decoration-thickness,
      2px
    );

    transition: all 0.15s cubic-bezier(0.39, 0.58, 0.57, 1);
    color: var(--_link-color);
    text-underline-offset: 2px;
    text-decoration-color: inherit;
    text-decoration-thickness: var(--_link-text-decoration-thickness);

    &:visited {
      --link-color: var(--_link-visited);
    }

    &:hover {
      --link-color: var(--_link-color-hover);
    }

    &:active {
      --link-color: var(--_link-color-active);
    }

    &:hover,
    &:active {
      text-underline-offset: 4px;
    }

    &:not([href]) {
      color: var(--_link-color-broken);
    }
  }
}
