@layer element {
  :root {
    --page-background-color: var(--color-surface-container);
    --page-background-image: radial-gradient(
      at 50% 100%,
      var(--color-surface-bright) 20%,
      var(--color-surface-dim) 120%
    );
  }

  body {
    color: var(--color-on-surface);
    background: var(--page-background-color);
    background-image: var(--page-background-image);
    background-attachment: fixed;
    background-position: center;
    font: var(--typography-body-large);
  }
}
