@layer element {
  :root {
    --page-background-color: var(--color-surface-container);
  }

  body {
    color: var(--color-on-surface);
    background: var(--page-background-color);
    font: var(--typography-body-large);
  }
}
