@layer element {
  :root {
    --page-background-color: var(--color-surface-container);
    --page-background-image:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.1'/></svg%3E"),
      radial-gradient(
        at 50%,
        var(--color-surface-bright) 20%,
        var(--color-surface-dim) 120%
      );
  }

  body {
    color: var(--color-on-surface);
    background: var(--page-background-color);
    background-image: var(--page-background-image);
    background-attachment: fixed;
    background-position: center;
    font: var(--typography-body-large);
  }
}
