@layer element {
  code {
    --inline-color: #d73a49;

    color: var(--color-on-surface);
    border-radius: var(--spacing-1);
    background: var(--color-surface-container-high);
    box-decoration-break: clone;
    font: var(--typography-code);
  }

  [data-theme="dark"] {
    --inline-color: #ff7b72;
  }

  pre > code {
    display: block;
    overflow-x: auto;
    padding: var(--spacing-5);
    border-radius: var(--spacing-2);
    background: var(--color-surface-container-high);
  }

  :not(pre) > code {
    padding: var(--spacing-1);
    vertical-align: middle;
    word-break: break-word;
    color: var(--inline-color);
    font-size: 0.8em;
  }
}
