@layer element {
  code {
    font-family: var(--font-monospace);
  }

  p > code,
  li > code,
  pre > code {
    font: var(--typography-code);
  }

  pre > code {
    overflow-x: auto;
  }

  :not(pre) > code {
    padding: var(--spacing-1);
    word-break: break-word;
    border-radius: var(--spacing-1);
    background: var(--color-surface-variant);
  }
}
