@layer element {
  mark {
    padding: 0 var(--spacing-1);
    color: var(--color-on-primary-container);
    border-radius: var(--spacing-1);
    background-color: var(--color-primary-container);
  }

  mark > * {
    color: var(--color-on-surface);
  }
}
