@layer element {
  mark {
    padding: 0.25ch 0.5ch;
    color: var(--color-on-primary-container);
    background-color: var(--color-primary-container);
  }

  mark > * {
    color: var(--color-on-surface);
  }
}
