@layer component.ui {
  .main-navigation {
    position: fixed;
    z-index: 50;
    bottom: var(--spacing-4);
    left: 50%;
    display: flex;
    align-items: flex-end;
    transform: translateX(-50%);
    gap: var(--spacing-4);
  }

  .main-navigation__main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-2);
    border-radius: var(--spacing-16);
    background: color-mix(in sRGB, var(--color-surface-tint), transparent 50%);
    backdrop-filter: saturate(280%) blur(40px);
    gap: var(--spacing-4);
    box-shadow:
      rgb(17 17 26 / 0.1) 0 8px 24px,
      rgb(17 17 26 / 0.1) 0 16px 56px,
      rgb(17 17 26 / 0.1) 0 24px 80px;
  }

  .main-navigation__extra-button {
    position: relative;
    z-index: 70;
    color: var(--color-on-tertiary);
    background: color-mix(in sRGB, var(--color-tertiary), transparent 50%);
    box-shadow:
      rgb(17 17 26 / 0.1) 0 8px 24px,
      rgb(17 17 26 / 0.1) 0 16px 56px,
      rgb(17 17 26 / 0.1) 0 24px 80px;
    backdrop-filter: saturate(280%) blur(40px);
  }

  .main-navigation__extra-button--extra-menu {
    --fab-border-radius: var(--spacing-16);
  }

  .main-navigation__extra {
    position: relative;
  }

  .main-navigation--extra-menu-open {
    &::before {
      position: fixed;
      z-index: 60;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background: var(--color-outline);
    }
  }

  .main-navigation__extra-menu {
    position: absolute;
    bottom: calc(var(--spacing-4) + 4rem);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }
}
