.main-navigation-item {
  display: block;
  padding: var(--spacing-2) var(--spacing-4);
  transition:
    background-color ease-in-out 0.2s,
    color ease-in-out 0.2s;
  text-decoration: none;
  color: var(--color-on-surface);
  border-radius: var(--spacing-2);
  background-color: var(--color-surface);
  font: var(--typography-body-large);

  &:hover,
  &:focus {
    color: var(--color-on-secondary-container);
    background-color: var(--color-surface-container-low);
  }
}
