@layer component.ui {
  .callout {
    --_callout-expected-heading-height: 28px;
    --_callout-color: var(--callout-color, var(--color-scrim));
    --_callout-border-color: color-mix(
      in sRGB,
      var(--_callout-color),
      var(--color-surface) 30%
    );
    --icon-wrapper-width: 18px;

    display: flex;
    flex-direction: column;
    padding: var(--spacing-6);
    padding-top: 0;
    color: var(--color-on-surface);
    border: 1px solid var(--_callout-border-color);
    border-radius: var(--spacing-3);
    background-color: color-mix(
      in sRGB,
      var(--_callout-color),
      var(--color-surface) 90%
    );
    gap: var(--spacing-4);
  }

  .callout__heading {
    display: inline-flex;
    align-items: flex-start;
    align-self: flex-start;
    width: fit-content;
    margin-top: calc(var(--_callout-expected-heading-height) / -2);
    padding: var(--spacing-1) var(--spacing-2);
    color: var(--color-on-surface);
    border-radius: var(--spacing-1);
    background-color: color-mix(
      in sRGB,
      var(--_callout-color),
      var(--color-surface) 70%
    );
    font: var(--typography-label-large);
    font-weight: bold;
    gap: var(--spacing-2);
  }

  .callout__content {
    font: var(--typography-body-medium);
  }

  .callout--note {
    --callout-color: #086ddd;
  }

  .callout--tip {
    --callout-color: #e3c800;
  }

  .callout--important {
    --callout-color: #f0a30a;
  }

  .callout--warning {
    --callout-color: #fa6800;
  }

  .callout--caution {
    --callout-color: #e51400;
  }
}
