@layer component.ui {
  .callout {
    --_callout-expected-heading-height: 28px;
    --_callout-color: var(--callout-color, var(--color-scrim));
    --icon-wrapper-width: 24px;

    display: flex;
    flex-direction: column;
    padding: var(--spacing-6);
    color: var(--color-on-surface);
    border: 2px solid
      color-mix(in sRGB, var(--_callout-color), var(--color-surface) 30%);
    border-radius: var(--spacing-3);
    background-image: linear-gradient(
      to bottom,
      color-mix(in sRGB, var(--_callout-color), var(--color-surface) 90%),
      color-mix(in sRGB, var(--_callout-color), var(--color-surface) 85%)
    );
    gap: var(--spacing-4);
  }

  .callout__heading {
    display: inline-flex;
    align-items: flex-start;
    align-self: flex-start;
    width: fit-content;
    color: color-mix(
      in sRGB,
      var(--_callout-color),
      var(--color-on-surface) 80%
    );
    font: var(--typography-title-medium);
    font-weight: bold;
    gap: var(--spacing-2);
  }

  .callout__content {
    font: var(--typography-body-medium);
  }

  .callout--note {
    --callout-color: #086ddd;
  }

  .callout--tip {
    --callout-color: #e3c800;
  }

  .callout--important {
    --callout-color: #f0a30a;
  }

  .callout--warning {
    --callout-color: #fa6800;
  }

  .callout--caution {
    --callout-color: #e51400;
  }
}
