@layer base {
  :root {
    --focus-box-shadow: 0 0 0 2px #000;
  }

  :focus {
    outline: none;
    box-shadow: var(--focus-box-shadow);
  }

  .is-using-mouse {
    --focus-box-shadow: none;
  }
}
