@layer base {
  :root {
    --selection-background: var(--color-primary);
    --selection-color: var(--color-on-primary);
  }

  ::selection {
    color: var(--selection-color);
    background: var(--selection-background);
  }
}
