.taxonomy-term-tags-teaser {
  --summary-color: var(--color-dark-silver);

  padding: var(--spacing-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xs);
  background-color: var(--navigation-background);
}

[data-theme="dark"] .taxonomy-term-tags-teaser {
  --summary-color: var(--color-text);
}

.taxonomy-term-tags-teaser__title {
  --link-color: var(--heading-color);

  display: block;
  font-weight: bold;
}

.taxonomy-term-tags-teaser__summary {
  color: var(--summary-color);
  font-size: var(--font-size-xs);
}
