<section{{ attributes.addClass('sitemap') }}>
  {% for category in sitemap %}
    {% include 'laszlo:sitemap-category' with {
      heading: category.heading,
      sections: category.sections,
    } only %}
  {% endfor %}
</section>