.block--toc {
  position: sticky;
  top: var(--spacing-md);
  height: calc(100vh - var(--spacing-xl) - var(--spacing-md));
  overflow-y: auto;
}

.block--toc .block__title {
  font-weight: bold;
  margin-bottom: var(--spacing-md);
}
