{% do attributes.setAttribute('aria-hidden', 'true') %}
{% do attributes.setAttribute('data-icon', icon) %}
<span{{ attributes.addClass('icon') }}>
  {{- icon(pack|default('laszlo'), icon) -}}
</span>
