.article-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.article-list__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-6);
}
