@layer component.ui {
  .code-block {
    display: flex;
    flex-direction: column;
    border-radius: var(--spacing-4);
    font: var(--typography-body-small);
    gap: var(--spacing-4);
  }

  .code-block__main {
    padding: var(--spacing-5);
    border: 1px solid var(--color-surface-dim);
    border-radius: var(--spacing-2);
    background-color: var(--color-surface);
  }

  .code-block__title {
    padding-inline: var(--spacing-6);
    text-align: center;
    word-wrap: break-word;
    color: var(--color-on-surface);
    font: var(--typography-title-medium);
  }
}
