@layer component.ui {
  .code-block {
    --collapse-height: 60px;

    display: flex;
    flex-direction: column;
    border-radius: var(--spacing-4);
    font: var(--typography-body-small);
    gap: var(--spacing-4);
  }

  .code-block__main {
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      height: var(--collapse-height);
      content: "";
      transition: opacity 0.2s;
      pointer-events: none;
      opacity: 0;
      border-top: 1px solid var(--color-outline-variant);
      border-radius: 0 0 var(--spacing-2) var(--spacing-2);
      background: color-mix(
        in sRGB,
        var(--color-secondary-fixed),
        transparent 50%
      );
      backdrop-filter: blur(var(--spacing-2));
    }
  }

  .code-block--collapsed .code-block__main::after {
    opacity: 1;
  }

  .code-block--collapsed code {
    overflow: hidden;
    max-height: 415px;
  }

  .code-block__title {
    padding-inline: var(--spacing-6);
    text-align: center;
    word-wrap: break-word;
    color: var(--color-on-surface);
    font: var(--typography-title-medium);
  }

  .code-block__highlighted {
    display: inline-block;
    min-width: calc(100% + var(--spacing-5) * 2);
    margin-inline: calc(-1 * var(--spacing-5));
    padding-inline: var(--spacing-5);
    background-color: light-dark(oklch(90% 0.05 90), oklch(30% 0.03 250));
  }

  .code-block__button {
    all: unset;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    height: var(--collapse-height);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-on-secondary-fixed);
    font: var(--typography-label-large);
  }
}
