.about-page__hire {
  width: 100%;
}

.about-welcome {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-lg);
}

@media (min-width: 576px) {
  .about-welcome {
    grid-template-columns: 7fr 3fr;
  }
}

.about-welcome__left {
  order: 2;
}

@media (min-width: 576px) {
  .about-welcome__left {
    order: initial;
  }
}

.about-welcome__subtitle {
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-size-h5);
}

.about-welcome__title {
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.about-welcome__photo {
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding: var(--spacing-sm);
  padding-bottom: 0;
  border-radius: var(--radius-sm);
  background-color: var(--color-eerie-black);
  background-image: radial-gradient(
      circle at top right,
      var(--color-denim-blue),
      transparent
    ),
    radial-gradient(
      circle at bottom left,
      var(--color-egyptian-blue),
      transparent
    );
  box-shadow: var(--shadow-xs);
}
