.blog-meta {
  --icon-read-time: url("../../../icons/212121/clock-check.svg");
  --icon-comments: url("../../../icons/212121/comment-multiple.svg");
  --icon-no-comments: url("../../../icons/212121/comment-multiple-outline.svg");
  --icon-created: url("../../../icons/212121/calendar-check.svg");
  --color: var(--color-eerie-black);
  --link-color: var(--color);
  --icon-size: 24px;
  --font-size: var(--font-size-base);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color);
  font-size: var(--font-size);
}

@media (min-width: 576px) {
  .blog-meta {
    flex-direction: row;
    align-items: center;
  }
}

[data-theme="dark"] .blog-meta {
  --icon-read-time: url("../../../icons/FFFFFF/clock-check.svg");
  --icon-comments: url("../../../icons/FFFFFF/comment-multiple.svg");
  --icon-no-comments: url("../../../icons/FFFFFF/comment-multiple-outline.svg");
  --icon-created: url("../../../icons/FFFFFF/calendar-check.svg");
  --color: var(--color-white);
}

.blog-meta :not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

@media (min-width: 576px) {
  .blog-meta :not(:last-child) {
    margin-right: var(--spacing-md);
    margin-bottom: unset;
  }
}

.blog-meta__read-time,
.blog-meta__comments,
.blog-meta__created {
  padding-left: calc(var(--icon-size) + var(--spacing-xs));
  user-select: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: var(--icon-size);
}

.blog-meta__read-time {
  background-image: var(--icon-read-time);
}

.blog-meta__comments {
  background-image: var(--icon-comments);
}

.blog-meta__comments--no-comments {
  --icon-comments: var(--icon-no-comments);
}

.blog-meta__created {
  background-image: var(--icon-created);
}
