:root {
  --dark-mode-toggle-button-background--active: var(--color-platinum);
  --dark-mode-toggle-button-light-icon: url('../../../icons/000000/white-balance-sunny.svg');
  --dark-mode-toggle-button-auto-icon: url('../../../icons/000000/theme-light-dark.svg');
  --dark-mode-toggle-button-dark-icon: url('../../../icons/000000/weather-night.svg');
}

[data-theme="dark"] {
  --dark-mode-toggle-button-background--active: var(--color-charcoal);
  --dark-mode-toggle-button-light-icon: url('../../../icons/FFFFFF/white-balance-sunny.svg');
  --dark-mode-toggle-button-auto-icon: url('../../../icons/FFFFFF/theme-light-dark.svg');
  --dark-mode-toggle-button-dark-icon: url('../../../icons/FFFFFF/weather-night.svg');
}

.dark-mode-toggle {
  display: flex;
  overflow: hidden;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xs);
  background-color: var(--page-background);
  box-shadow: var(--shadow-xs);
}

.dark-mode-toggle input {
  display: none;
}

.dark-mode-toggle__button {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  --button-padding: 0;
}

.dark-mode-toggle__button--light {
  background-image: var(--dark-mode-toggle-button-light-icon);
}

.dark-mode-toggle__button--auto {
  background-image: var(--dark-mode-toggle-button-auto-icon);
}

.dark-mode-toggle__button--dark {
  background-image: var(--dark-mode-toggle-button-dark-icon);
}

.dark-mode-toggle input:checked + .dark-mode-toggle__button {
  background-color: var(--dark-mode-toggle-button-background--active);
}
