:root {
  --follow-popup-background: var(--color-white);
}

[data-theme="dark"] {
  --follow-popup-background: var(--color-gunmetal);
}

.follow {
  position: relative;
  margin: 0 var(--spacing-md);
}

.follow-actions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--spacing-xs);
}

.follow__action {
  height: 2rem;
  background-color: var(--background-color, inherit);
  background-image: var(--icon, none);
  background-repeat: no-repeat;
  background-position: center;
}

.follow__action--support {
  --background-color: var(--color-raisin-black);
  --icon: url("../../../icons/FFFFFF/coffee.svg");
}

.follow__action--telegram {
  --background-color: #08c;
  --icon: url("../../../icons/FFFFFF/telegram.svg");
}

.follow__action--youtube {
  --background-color: #f00;
  --icon: url("../../../icons/FFFFFF/youtube.svg");
}

.follow__action--rss {
  --background-color: #ff9800;
  --icon: url("../../../icons/FFFFFF/rss.svg");
}
