:root {
  --toc-link-color: var(--text-color);
  --toc-link-hover-color: var(--link-color);
  --toc-counter-color: var(--link-color);
  --toc-submenu-line-color: var(--color-border);
}

.toc {
  overflow-y: auto;
  font-size: var(--font-size-sm);
  line-height: 1.7;
}

.toc__menu {
  margin: unset;
  padding: unset;
}

.toc__link {
  display: block;
  overflow: hidden;
  padding: var(--spacing-xxs);
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--toc-link-color);
  border-radius: var(--radius-xs);
}

.toc__link:hover,
.toc__link:focus {
  --focus-box-shadow: none;

  text-decoration: none;
  color: var(--toc-link-hover-color);
  background-color: var(--color-black--o-10);
}

.toc__item--indent-1 .toc__link {
  padding-left: var(--spacing-sm);
}

.toc__item--indent-2 .toc__link {
  padding-left: calc(var(--spacing-sm) * 2);
}

.toc__item--indent-3 .toc__link {
  padding-left: calc(var(--spacing-sm) * 3);
}

.toc__item--indent-4 .toc__link {
  padding-left: calc(var(--spacing-sm) * 4);
}
