.russian-drupal-awards {
  display: block;
  margin: var(--spacing-sm);
  margin-top: var(--spacing-lg);
  --fill-1: #1e00d7;
  --fill-2: #090035;
  --fill-3: #fb0055;
  --fill-4: #b9b5d7;
}

[data-theme="dark"] .russian-drupal-awards {
  --fill-1: #fafaff;
  --fill-2: var(--color-white);
  --fill-3: var(--color-white);
  --fill-4: var(--color-white);
}

.russian-drupal-awards__logo svg .cls-1 {
  fill: var(--fill-1);
}

.russian-drupal-awards__logo svg .cls-2 {
  fill: var(--fill-2);
}

.russian-drupal-awards__logo svg .cls-3 {
  fill: var(--fill-3);
}

.russian-drupal-awards__logo svg .cls-4 {
  fill: var(--fill-4);
}
