:root {
  --sidebar-search-icon: url("../../../icons/000000/file-search.svg");
}

[data-theme="dark"] {
  --sidebar-search-icon: url("../../../icons/FFFFFF/file-search.svg");
}

.sidebar-search-form {
  position: relative;
  margin: var(--spacing-lg) var(--spacing-sm);
}

.sidebar-search-form__input {
  --form-control-border-radius: var(--radius-xs);

  padding-left: 48px;
}

.sidebar-search-form__submit,
.sidebar-search-form__submit:hover,
.sidebar-search-form__submit:active {
  --button-background-color: transparent;
  --button-box-shadow: none;
  --button-border: unset;
  --button-border-radius: var(--radius-sm);

  height: 100%;
}

.sidebar-search-form__submit:focus {
  --button-box-shadow: none;
  --button-background-color: var(--color-black--o-10);
  --button-border: unset;
  --button-border-radius: 0;
}

.sidebar-search-form__submit {
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--sidebar-search-icon);
  background-repeat: no-repeat;
  background-position: center;
}
