/**
 * The class to visually hide element.
 *
 * This class used by Drupal core in a many ways. By default the theme will
 * remove library (system/base) responsible for it cuz it contains not
 * needed styles. But this one is important and restored by this file.
 */

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.visually-hidden:active,
.visually-hidden:focus {
  position: static !important;
  overflow: visible !important;
  clip: auto !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  white-space: inherit !important;
}
