{% do attributes.setAttribute('action', path('niklan.search_page')) %}
<form{{ attributes.addClass('search-bar') }}>
  {% include 'laszlo:text-input' with {
    attributes: create_attribute({
      'class': ['search-bar__input'],
    }),
    input_attributes: create_attribute({
      'name': 'q',
      'type': 'text',
      'placeholder': placeholder
    }),
    variant: 'plain',
    full_width: true,
  } only %}
  {% include 'laszlo:button' with {
    attributes: create_attribute({
      'class': ['search-bar__button'],
      'aria-label': 'Do search'|t,
    }),
    type: 'submit',
    variant: 'plain',
    start_icon: 'search',
  } only %}
</form>
