.search-bar {
  --border-radius: var(--spacing-7);

  display: flex;
  align-items: stretch;
  height: 56px;
  border-radius: var(--border-radius);
  background-color: var(--color-surface-container-lowest);
}

.search-bar__input {
  --input-border-color: transparent;
  --input-border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.search-bar__button {
  --button-border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
