.sitemap-section {
  padding: var(--spacing-6);
  border-radius: var(--spacing-4);
  background-color: var(--color-surface-container-highest);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.sitemap-section__list {
  display: flex;
  flex-flow: wrap;
  gap: var(--spacing-2);
}

.sitemap-section__link {
  display: inline-block;
  background-color: var(--color-surface-container-low);
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--spacing-4);
  font: var(--typography-body-small);
  text-decoration: unset;

  &:hover {
    background-color: var(--color-surface-container);
  }
}
