/**
 * The HTML blockquotes styles.
 */
:root {
  --blockquote-font-size: var(--font-size-sm);
  --blockquote-border-size: 4px;
  --blockquote-paddings: 0 var(--spacing-xs);
  --blockquote-margins: var(--spacing-sm) 0;
  --blockquote-background: transparent;
  --blockquote-border-color: var(--color-border);
}

[data-theme="dark"] {
  --blockquote-border-color: var(--color-gray-web);
}

blockquote {
  margin: var(--blockquote-margins);
  padding: var(--blockquote-paddings);
  border-left: var(--blockquote-border-size) solid
    var(--blockquote-border-color);
  background: var(--blockquote-background);
  font-size: var(--blockquote-font-size);
}
