/**
 * The HTML fieldset styles.
 */
fieldset {
  min-width: 0;
  margin: unset;
  padding: unset;
  border: unset;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: var(--spacing-xs);
  padding: unset;
}
