.node-blog-entry-field-media-image img {
  border-radius: var(--radius-xs);
  overflow: hidden;
  box-shadow: var(--shadow-xs);
  width: 100%;
}

.node-blog-entry-field-media-image a {
  border-radius: var(--radius-sm);
  display: block;
}
