.author-page {
  display: grid;
  gap: var(--spacing-6);
  grid-template-columns: 1fr 320px;
}

.author-page__content {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-16) var(--spacing-12);
  border-radius: var(--spacing-4);
  background-color: var(--color-surface-container-low);
  gap: var(--spacing-12);
}

.author-page__navigation {
  position: sticky;
  top: var(--spacing-6);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.author-page__title {
  font: var(--typography-display-medium);
}
