{% do attributes.setAttribute('href', url) %}
{% do attributes.setAttribute('rel', 'Home'|t) %}
{% do attributes.setAttribute('aria-label', 'Home'|t) %}
<a{{ attributes.addClass('branding') }}>
  {% if site_logo_svg %}
    {{ source(site_logo_svg) }}
  {% endif %}

  <div class="branding__info">
    <div class="branding__name">{{ site_name }}</div>

    {% if site_slogan %}
      <div class="branding__slogan">{{ site_slogan }}</div>
    {% endif %}
  </div>
</a>
