<section{{ attributes.addClass('home-intro') }}>
  <h1 class="home-intro__heading">{{ heading }}</h1>
  <div class="prose home-intro__description">
    {{ description }}
  </div>

  <footer class="home__intro-actions">
    {% embed 'laszlo:button' with {
      attributes: create_attribute({
        'class': ['home__intro-cta'],
      }),
      component: 'a',
      href: path('niklan.blog_list'),
      variant: 'contained',
      size: 'large',
    } only %}
      {% block start_icon %}
        {% include 'laszlo:icon' with { icon: 'documents-bold' } only %}
      {% endblock %}
      {% block children %}
        Все публикации
      {% endblock %}
    {% endembed %}

    {% embed 'laszlo:button' with {
      attributes: create_attribute({
        'class': ['home__intro-cta'],
      }),
      component: 'a',
      href: path('niklan.about'),
      variant: 'outlined',
      size: 'large',
    } only %}
      {% block start_icon %}
        {% include 'laszlo:icon' with { icon: 'user-id-bold-duotone' } only %}
      {% endblock %}
      {% block children %}
        Об авторе
      {% endblock %}
    {% endembed %}
  </footer>
</section>