{#
/**
 * @file
 * Theme override for services page content.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - language: The current language.
 *
 * @see mechanical_preprocess_niklan_services_page()
 */
#}
{{ attach_library('mechanical/component.theme.services-page') }}
{% set portfolio_url = path('niklan.portfolio_list') %}
{% set github_url = 'https://github.com/Niklan' %}
{% set drupal_url = 'https://www.drupal.org/u/niklan' %}
<section class="services-page">
  <main class="services-page__content">
    <p>{% trans %}I am interested in long-term cooperation. It is more comfortable for me to work with one client for a long time, so I give priority to such proposals. I have been working with current clients for more than 5 years, therefore I do not always have free time for new projects, but I will find time to consult or advise!{% endtrans %}</p>

    <p><mark>{% trans %}My goal is to do quality.{% endtrans %}</mark> {% trans %}If the deadline for the project is «yesterday» - I'm not the one you're looking for. I do not create a sites «for a couple of days», and by experience I know that there is no task «there for just a couple of minutes» with your experience. I always try to find the best and most optimal solution to the problem, not the first that comes along, which will put a checkmark «done».{% endtrans %}</p>

    <ul>
      <li>{% trans %}<a href="{{ portfolio_url }}">Portfolio</a> — commercial projects that I have worked on or continue to work on.{% endtrans %}</li>
      <li>{% trans %}<a href="{{ github_url }}">GitHub</a> — my contribution to OpenSource.{% endtrans %}</li>
      <li>{% trans %}<a href="{{ drupal_url}}">drupal.org</a> — my profile on the official Drupal website.{% endtrans %}</li>
    </ul>

    <h3>{% trans with {'context': 'work'} %}Services{% endtrans %}</h3>
    <ul>
      <li>{% trans %}Website development and support on <strong>Drupal 9</strong>.{% endtrans %}</li>
      <li>{% trans %}Drupal theming.{% endtrans %}</li>
      <li>{% trans %}Consultation on Drupal or an audit of your site.{% endtrans %}</li>
    </ul>

    <h3>{% trans %}How we'll work{% endtrans %}</h3>

    <p>{% trans %}If the amount of work (approximately) exceeds 10 hours:{% endtrans %}</p>

    <ul>
      <li>{% trans %}Discuss the task, ToR (if available).{% endtrans %}</li>
      <li>{% trans %}I invoice for 10 or more hours (at your discretion).{% endtrans %}</li>
      <li>{% trans %}I do the work on this amount of hours.{% endtrans %}</li>
      <li>{% trans %}If necessary, on completion I make and send a report on the work done.{% endtrans %}</li>
      <li>{% trans %}If everything is okay, repeat and continue.{% endtrans %}</li>
    </ul>

    <h3>{% trans %}Price{% endtrans %}</h3>

    <p>{% trans %}I work with an hourly rate and consider it the best option for both parties.{% endtrans %}</p>

    <div class="services-page__price">{% trans %}1 000 ₽/h{% endtrans %}</div>

    {% if language == 'ru' %}
      <p class="services-page__kkt"><em>В связи с вступлением в силу <a href="https://kontur.ru/ofd/news/7582/" target="_blank" rel="nofollow noopener">«п.1 ст. 2 129-ФЗ от 06.06.2019»</a> начиная с 1 июля 2021г. я не оказываю платные услуги физическим лицам, а оплату принимаю исключительно безналичным переводом на р/с.</em></p>
    {%endif %}

    <a href="/contact" class="button button--primary services-page__contact-button">{% trans %}Let's Talk{% endtrans %}</a>
  </main>
</section>
