{#
/**
 * @file
 * Theme override for copyrights.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - dark_mode_toggle: The element for switching theme modes.
 *
 * @see mechanical_preprocess_niklan_copyright()
 */
#}
{{ attach_library('mechanical/component.theme.copyright') }}
<div class="copyright">
  <div class="copyright__text">
    {% set license_url = 'https://creativecommons.org/licenses/by-sa/4.0/legalcode.ru' %}
    {% trans %}The content is published under <a href="{{ license_url }}">CC-BY-SA 4.0</a> license.{% endtrans %}
  </div>
  <div class="copyright__right">
    <div class="copyright__actions">
      {{ dark_mode_toggle }}
    </div>

    <div class="copyright__name-and-date">
      © {{ 'now'|date('Y') }} Niklan
    </div>
  </div>
</div>
