.main-navigation-item {
  --icon-wrapper-width: 60px;
  --icon-wrapper-height: 44px;
  --icon-width: 32px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  text-decoration: none;
  align-items: center;
  font: var(--typography-body-medium);

  &:hover,
  &:focus {
    --_icon-background: var(--color-primary-container);
    --focus-box-shadow: none;
    color: var(--color-on-primary-container);
  }
}

.main-navigation-item .icon {
  border-radius: 22px;
  background-color: var(--_icon-background, transparent);
}
