.main-navigation-item {
  --_color: var(--main-navigation-item-color, inherit);
  --icon-wrapper-width: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font: var(--typography-body-small);
  padding: var(--spacing-2) var(--spacing-6);
  border-radius: var(--spacing-10);
  gap: var(--spacing-2);
  color: var(--_color);

  &:hover,
  &:focus,
  &.is-active {
    --focus-box-shadow: none;

    color: var(--color-primary);
    background: var(--color-primary-container);
  }
}

.main-navigation-item__label {
  display: none;
}