.about {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.about__head {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: var(--spacing-6);
}

.about__intro {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.about__title {
  font: var(--typography-headline-medium);
}

.about__subtitle {
  font: var(--typography-headline-small);
}

.about__photo {
  border-radius: var(--spacing-4);
  background: var(--color-primary-container);
  background-image: radial-gradient(
      circle at top right,
      var(--color-on-primary-fixed),
      transparent
    ),
    radial-gradient(
      circle at bottom left,
      var(--color-on-primary-fixed-variant),
      transparent
    );
  box-shadow: var(--elevation-1);
}

.about__cta {
  justify-content: center;
  width: 100%;
}
